:irc:
  :server: irc.freenode.org
  :nick: Roussetagram
  :user: ChanBot
  :realname: 'Ruby ChanBot for ##rousses'
  :channels: ['##rousses']

:irc_auth:
  :username: Roussetagram
  :password: 
  :type: nickserv

:twitter:
  :consumer_key: 
  :consumer_secret: 
  :access_token: 
  :access_token_secret: 

:tweetstream:
  :track:
    - roussestagram
    - roussetagram
  :channel: '##rousses'

:net:
    :useragent: "Roussestagram IRC Bot (https://github.com/Rousses/tagram) ; ##Rousses at Freenode"
    :wikiurl: "http://en.wikipedia.org/w/api.php?format=json&action=query&titles=" 
